<tr data-path="<%= file.path %>">
  <td><input type="checkbox"></td>
  <td><%= file.name %></td>
  <td><%= file.size %></td>
  <td><%= file.client_modified %></td>
  <td>
    <%= render 'actions' %>
  </td>
</tr>
