<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <%= link_to 'FExplorer', root_path, class: 'navbar-brand' %>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item <%= active_class root_path %>">
          <%= link_to 'Home', root_path, class: 'nav-link' %>
        </li>
        <li class="nav-item <%= active_class explorer_path %>">
          <%= link_to 'Explorer', explorer_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
